// PRIMARY COLORS
$darkBlueIntro: hsl(217, 28%, 15%);
$darkBluemain: hsl(218, 28%, 13%);
$darkBluefooter: hsl(216, 53%, 9%);
$darkBluetesti: hsl(219, 30%, 18%);

// ACCENT COLORS
$cyanCta: hsl(176, 68%, 64%);
$blueCta: hsl(198, 60%, 50%);
$lighRed: hsl(0, 100%, 63%);
$linksClr: #cad3dc;

// NEUTRAL COLOR
$white: hsl(0, 0%, 100%);
