*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:focus,
button:focus {
  outline: none;
}

img {
  width: 100%;
  display: block;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: $secFont;
  line-height: 1.3;
}

p {
  font-size: $fs-small;
  color: #edf2f4;
}

body {
  text-size-adjust: 100%;
  line-height: 1.6;
  background-color: $darkBluemain;
  font-family: $pryFont;
  color: $white;
}

// PADDING TO CLASS OF CONTAINER
.container {
  padding: 0 1rem;
}
